-# 2-1.ユーザープロフィール編集ページ
-# ①ヘッダー、②コンテンツ（②-1左カラム、②-2右カラム）、③フッターの大きく4要素でできている。

-# ①ヘッダー
= render 'layouts/header'

-# ②コンテンツ
.profile-wrapper
  -# ②-1左カラム（キッドさん作成）
  -# = render ‘mypages/left’
  -# ②-2右カラム
  .profile-content
    %h2{ class: "profile-heading" } プロフィール
    = form_with(local: true) do |f|
      .setting-profile-icon
        = f.text_field :name, placeholder: "例)PIRORI", class: "name-default"
      .setting-profile-content
        = f.text_area :description, placeholder: "よろしくです", class: "profile-default"
        = f.submit "変更する", class: "profile-form-send-btn"

= render 'layouts/footer'