.wrapper
  = render 'layouts/header'
  = render 'layouts/exhibit_btn'
  .content-wrapper
    = render 'layouts/pankuzu'
    %main.main-container
      = render 'mypages/left'
      .main-container__right
        %form
          .single-content
            %button.btn-red{type:"submit"} ログアウト       
  = render 'layouts/footer'
