.wrapper
  = render 'layouts/header'
  = render 'layouts/exhibit_btn'
  .content-wrapper
    = render 'layouts/pankuzu'
    %main.main-container
      = render 'mypages/left'
      .main-container__right
        .logout_wrapper
          = link_to destroy_user_session_path, method: :delete do
            .single-content
              %button.btn-red ログアウト       
  = render 'layouts/footer'
