.users-wrapper
  = render 'header'
  .users-wrapper__contents
    %h2 会員情報入力
    .users-wrapper__contents__sign
      .users-wrapper__contents__sign__signup
        = form_with(local: true) do |f|
          .users-wrapper__contents__sign__signup__nickname
            .users-wrapper__contents__sign__signup__nickname__label
              %label.users-wrapper-label ニックネーム
              %span.users-wrapper-require 必須
            .users-wrapper__contents__sign__signup__nickname__input
              = f.text_field :name, placeholder: "例（メルカリ太郎）", class: "textfield-default"
          .users-wrapper__contents__sign__signup__mail
            .users-wrapper__contents__sign__signup__mail__label
              %label.users-wrapper-label メールアドレス
              %span.users-wrapper-require 必須
            .users-wrapper__contents__sign__signup__mail__input
              = f.text_field :name, placeholder: "PC,携帯どちらでも可", class: "textfield-default"
          .users-wrapper__contents__sign__signup__password
            .users-wrapper__contents__sign__signup__password__label
              %label.users-wrapper-label パスワード
              %span.users-wrapper-require 必須
            .users-wrapper__contents__sign__signup__password__input
              = f.text_field :name, placeholder: "７文字以上の半角英数字", class: "textfield-default"
          .users-wrapper__contents__sign__signup__password__confirm ※ 英字と数字の両方を含めて設定してください
          .users-wrapper__contents__sign__signup__password__view
            =check_box_tag :check1
            =label_tag :check1, "パスワードを表示する"
          .users-wrapper__contents__sign__signup__nameconfirm
            .users-wrapper__contents__sign__signup__nameconfirm__label
              %label.users-wrapper-label 本人確認
            .users-wrapper__contents__sign__signup__nameconfirm__text
              安心・安全にご利用いただくために、お客さまの本人
              情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .users-wrapper__contents__sign__signup__name
            .users-wrapper__contents__sign__signup__name__heading
              .users-wrapper__contents__sign__signup__name__heading__label
                %label.users-wrapper-label お名前（全角）
                %span.users-wrapper-require 必須
            .users-wrapper__contents__sign__signup__name__textfield
              .users-wrapper__contents__sign__signup__name__textfield__left
              .users-wrapper__contents__sign__signup__name__textfield__left__input
                = f.text_field :name, placeholder: "例 山田", class: "textfield-default"
              .users-wrapper__contents__sign__signup__name__textfield__right  
              .users-wrapper__contents__sign__signup__name__textfield__right__input
                = f.text_field :name, placeholder: "例 花子", class: "textfield-default"
          .users-wrapper__contents__sign__signup__nameconfirm
            .users-wrapper__contents__sign__signup__nameconfirm__heading
              .users-wrapper__contents__sign__signup__nameconfirm__heading__label
                %label.users-wrapper-label お名前カナ（全角）
                %span.users-wrapper-require 必須
            .users-wrapper__contents__sign__signup__nameconfirm__textfield
              .users-wrapper__contents__sign__signup__nameconfirm__textfield__left
              .users-wrapper__contents__sign__signup__nameconfirm__textfield__left__input
                = f.text_field :name, placeholder: "例 ヤマダ", class: "textfield-default"
              .users-wrapper__contents__sign__signup__nameconfirm__textfield__right
              .users-wrapper__contents__sign__signup__nameconfirm__textfield__right__input
                = f.text_field :name, placeholder: "例 アヤ", class: "textfield-default"
          .users-wrapper__contents__sign__signup__born
            .users-wrapper__contents__sign__signup__born__heading
              .users-wrapper__contents__sign__signup__born__heading__label
                %label.users-wrapper-label 生年月日
                %span.users-wrapper-require 必須
            .users-wrapper__contents__sign__signup__born__textfield
              .users-wrapper__contents__sign__signup__born__textfield__input
                = f.date_select :birth_date, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1)
                .birth_date_yyyy
                  = fa_icon("chevron-down") 
                .birth_date_mm
                  = fa_icon("chevron-down") 
                .birth_date_dd
                  = fa_icon("chevron-down") 
          .users-wrapper__contents__sign__signup__certificate
            ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          .users-wrapper__contents__sign__signup__userpolicy
            「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします    
          .users-wrapper__contents__sign__nextstage
            .users-wrapper__contents__sign__nextstage__btn
              = f.submit "次へ進む", class: "users-wrapper__contents__sign__nextstage-send-btn"
  = render 'footer'