.users-wrapper
  = render 'header'
  .users-wrapper__contents
    %h2 住所入力
    .users-wrapper__contents__sign
      .users-wrapper__contents__sign__signup
        = form_with(local: true) do |f|

          .users-wrapper__contents__sign__signup
            .users-wrapper__contents__sign__signup__label
              %label.users-wrapper-label お名前
              %span.users-wrapper-require 必須
            .users-wrapper__contents__sign__signup__input
              = f.text_field :name, placeholder: "例) 山田 ", class: "textfield-default"
            .users-wrapper__contents__sign__signup__input
              = f.text_field :name, placeholder: "例) 太郎 ", class: "textfield-default"
          .users-wrapper__contents__sign__signup
            .users-wrapper__contents__sign__signup__label
              %label.users-wrapper-label お名前カナ
              %span.users-wrapper-require 必須
            .users-wrapper__contents__sign__signup__input
              = f.text_field :name, placeholder: "例) ヤマダ ", class: "textfield-default"
            .users-wrapper__contents__sign__signup__input
              = f.text_field :name, placeholder: "例) アヤ ", class: "textfield-default"
          .users-wrapper__contents__sign__signup
            .users-wrapper__contents__sign__signup__label
              %label.users-wrapper-label 郵便番号
              %span.users-wrapper-require 必須
            .users-wrapper__contents__sign__signup__input
              = f.text_field :name, placeholder: "例) 123-4567", class: "textfield-default"
          .users-wrapper__contents__sign__signup
            .users-wrapper__contents__sign__signup__label
              %label.users-wrapper-label 都道府県
              %span.users-wrapper-require 必須
            .users-wrapper__contents__sign__signup__input
              = f.text_field :name, placeholder: "例) 北海道", class: "textfield-default"
          .users-wrapper__contents__sign__signup
            .users-wrapper__contents__sign__signup__label
              %label.users-wrapper-label 市区町村
              %span.users-wrapper-require 必須
            .users-wrapper__contents__sign__signup__input
              = f.text_field :name, placeholder: "例) 横浜市緑区", class: "textfield-default"
          .users-wrapper__contents__sign__signup
            .users-wrapper__contents__sign__signup__label
              %label.users-wrapper-label 番地
              %span.users-wrapper-require 必須
            .users-wrapper__contents__sign__signup__input
              = f.text_field :name, placeholder: "例) 青山１−１−１", class: "textfield-default"
          .users-wrapper__contents__sign__signup
            .users-wrapper__contents__sign__signup__label
              %label.users-wrapper-label 番地
              %span.users-wrapper-require 任意
            .users-wrapper__contents__sign__signup__input
              = f.text_field :name, placeholder: "例) 柳ビル１０３", class: "textfield-default"
          .users-wrapper__contents__sign__signup
            .users-wrapper__contents__sign__signup__label
              %label.users-wrapper-label 電話
              %span.users-wrapper-require 任意
            .users-wrapper__contents__sign__signup__input
              = f.text_field :name, placeholder: "例) 09058674356", class: "textfield-default"
          .users-wrapper__contents__sign__signup
            .users-wrapper__contents__sign__signup__btn
              = f.submit "次へ進む", class: "users-wrapper__contents__sign__signup__next-send-btn"
  = link_to input_payment_signup_index_path do
    %p 次へ進む（ダミー）
  = render 'footer'