.users-wrapper
  = render 'header'
  .users-wrapper__contents
    %h2 電話番号の確認
    .users-wrapper__contents__sign
      .users-wrapper__contents__sign__box
      = form_with(local: true) do |f|
      
        .users-wrapper__contents__sign__box__cellphonenumber
          .users-wrapper__contents__sign__box__cellphonenumber__label
            %label{ class: "users-wrapper-label" } 携帯電話の番号
          .users-wrapper__contents__sign__box__cellphonenumber__input
          = f.text_field :name, placeholder: "携帯電話の番号を入力", class: "textfield-default"
        .users-wrapper__contents__sign__box__cellphonenumber__confirm
        本人確認のため、SMS（ショートメッセージサービス）を利用して認証を行います。
        .users-wrapper__contents__sign__box__cellphonenumber__send
          .users-wrapper__contents__sign__box__cellphonenumber__send__btn
            = f.submit "SMSを送信する", class: "users-wrapper__contents__cellphonenumber__send-send-btn"
        .users-wrapper__contents__sign__box__cellphonenumber__notice
        *電話番号は本人確認や不正利用防止のためにのために利用
        します。他のユーザーに公開されることはありません。
  = render 'footer'