.main-container__left
  %nav.main-container__left__bar
    %ul.left-list-a
      %li
        = link_to "#" do
          マイページ
          %i.fa.fa-chevron-right
      %li 
        = link_to "#" do
          出品する
          %i.fa.fa-chevron-right
      %li 
        = link_to "#" do
          出品した商品ー出品中
          %i.fa.fa-chevron-right
      %li 
        = link_to "#" do
          出品した商品ー取引中
          %i.fa.fa-chevron-right
      %li 
        = link_to "#" do
          出品した商品ー売却済み
          %i.fa.fa-chevron-right
      %li 
        = link_to "#" do
          購入した商品ー取引中
          %i.fa.fa-chevron-right
      %li 
        = link_to "#" do
          購入した商品ー過去の取引
          %i.fa.fa-chevron-right
    %h3.left-list-head 設定
    %ul.left-list-c
      %li
        = link_to "/profiles" do
          プロフィール
          %i.fa.fa-chevron-right
      
        = link_to "/credit_cards" do
          支払い方法
          %i.fa.fa-chevron-right
      
        = link_to "/profiles/new" do
          本人情報
          %i.fa.fa-chevron-right
      
        = link_to "mypage-nav-list-item" do
          ログアウト
          %i.fa.fa-chevron-right
      
    
