.main-container__right
  %section.main-container__right__user-icon 
    %a 
      %figure
        %img{:alt => "", :height => "60", :src => "//static.mercdn.net/images/member_photo_noimage_thumb.png", :width => "60"}/
      %h2.bold 名前
      .number
        %div
          評価
          %span.bold 0
        %div
          出品数
          %span.bold 0

  %section.main-container__right__notification-todo
    %ul.main-container__right__notification-todo__tab
      %li.active
        %h3
          %a
            お知らせ
            %span.mypage-nav-number.hidden-large
           
      %li
        %h3
          %a
            やることリスト
    .tab-content
      %ul.ul-tab
        %li
          %a
            %figure
              = image_tag("#{asset_path('logo_red.png')}", size: "45x45", alt: "logo")
            .mypage-item-body
              .mypage-item-text おしらせ文
              %time
                %i.fa.fa-clock-o
            %i.fa.fa-chevron-right
        %li
          %a
            %figure
              = image_tag("#{asset_path('logo_red.png')}", size: "45x45", alt: "logo")
            .mypage-item-body
              .mypage-item-text おしらせ文
              %time
                %i.fa.fa-clock-o
            %i.fa.fa-chevron-right
        %li
          %a
            %figure
              = image_tag("#{asset_path('logo_red.png')}", size: "45x45", alt: "logo")
            .mypage-item-body
              .mypage-item-text おしらせ文
              %time
                %i.fa.fa-clock-o
            %i.fa.fa-chevron-right
        %li
          %a
            %figure
              = image_tag("#{asset_path('logo_red.png')}", size: "45x45", alt: "logo")
            .mypage-item-body
              .mypage-item-text おしらせ文
              %time
                %i.fa.fa-clock-o
            %i.fa.fa-chevron-right
        %li
          %a
            %figure
              = image_tag("#{asset_path('logo_red.png')}", size: "45x45", alt: "logo")
            .mypage-item-body
              .mypage-item-text おしらせ文
              %time
                %i.fa.fa-clock-o
            %i.fa.fa-chevron-right
        %li.tab-go-list
          %a 一覧を見る 

  %section.main-container__right__under
    %h2.buy-item-head 購入した商品
    %ul.mypage-tabs
      %li
        .active
          取引中       
      %li
        .not-moving
          過去の取引        
    .under-content
      %ul.content-inner
        %li.mypage-item-not-found 取引中の商品がありません