.main-container__right
  %section.main-container__right__user-icon 
    = link_to "#" do
      %figure
        = image_tag "#{asset_path('no_image.png')}",size:"60×60",alt:"トップ画"
      %h2.bold
        - if current_user.profile
          = current_user.profile.nickname
        - else
          = link_to profiles_path do
            .fa-edit.fa プロフィールを登録する  
      .number
        %div
          評価
          %span.bold 0
        %div
          出品数
          %span.bold 0

  %section.main-container__right__notification-todo
    %ul.main-container__right__notification-todo__tab
      %li.active
        %h3
          = link_to  do
            お知らせ
            %span.mypage-nav-number.hidden-large
           
      %li
        %h3
          = link_to "#" do
            やることリスト
    .tab-content
      %ul.ul-tab
        - @items.each do |i|
          %li
            = link_to item_path(i.id) do
              %figure
                = image_tag(i.images[0].image.url, size: "45x45", alt: i.name)
              .mypage-item-body
                .mypage-item-text
                  = i.name+"を出品しました"
                %time
                  %i.fa.fa-clock-o
                    = i.created_at.strftime("%-m月%-d日")
              %i.fa.fa-chevron-right
          -# = link_to  "一覧を見る"
      = paginate(@items)
  %section.main-container__right__under
    %h2.buy-item-head 購入した商品
    %ul.mypage-tabs
      %li
        .active
          取引中       
      %li
        .not-moving
          過去の取引        
    .under-content
      %ul.content-inner
        %li.mypage-item-not-found 取引中の商品がありません