.main-container__right
  %section.main-container__right__user-icon 
    = image_tag("#{asset_path('melcari.png')}", size: "cover", alt: "logo")
    %a 
      %figure
      %h2.bold 名前
      .number
        %div
          評価
          %span.bold 評価数
        %div
          出品数
          %span.bold 個数

  %section.main-container__right__notification-todo
    %ul.main-container__right__notification-todo__tab
      %li.active
        %h3
          %a{"data-toggle" => "tab", :href => "#mypage-tab-notification"}
            お知らせ
            %span.mypage-nav-number.hidden-large
           
      %li
        %h3
          %a{"data-toggle" => "tab", :href => "#mypage-tab-todo"}
            やることリスト
    .tab-content
      %ul.ul-tab
        %li
          = link_to "#" do
            %figure
              = image_tag("#{asset_path('logo_red.png')}", size: "45x45", alt: "logo")
            .mypage-item-body
              .mypage-item-text おしらせ文
              %time
                %i.icon-time
                %span 時間
            %i.fa.fa-arrow-right
        %li おしらせ
        %li おしらせ
        %li おしらせ
        %li おしらせ
        %li.tab-go-list 一覧を見る 
      %ul

  %section.main-container__right__under
    %h2.buy-item-head 購入した商品
    %ul.mypage-tabs
      %li
        .active
          取引中       
      %li
        .not-moving
          過去の取引        
    .under-content
      %ul.content-inner
        %li.mypage-item-not-found 取引中の商品がありません