.wrapper
  = render 'layouts/header'
  = render 'layouts/exhibit_btn'
  .content_wrapper
    
    %nav.white-bar
      %ul.pan
        

        %li
          
          - breadcrumb :mypage
          = breadcrumbs
          
      
    %main.main-container 
      = render 'mypages/left'
      = render 'mypages/right'
  = render 'layouts/footer'