.default-container
  = render 'layouts/header'

  %nav.white-bar
    %ul.pan
      %li
        %a  
          %span メルカリ
        %i.fa.fa-chevron-right
      %li
        %a
          %span マイページ
        
  %main.main-container.clearfix
  
    = render 'mypages/right'

    = render 'mypages/left'

  = render 'mypages/banner'

  = render 'layouts/footer'