.wrapper
  = render 'layouts/header'
  = render 'layouts/exhibit_btn'
  .content_wrapper
    = render 'layouts/pankuzu'
    %main.main-container 
      = render 'mypages/left'
      = render 'mypages/right'
  = render 'layouts/footer'