.wrapper
  = render 'layouts/header'
  = render 'layouts/exhibit_btn'
  %nav.white-bar
    %ul.pan
      %li
        = link_to "#" do 
          %span メルカリ
        %i.fa.fa-chevron-right
      %li
        = link_to "#" do 
          %span マイページ
  %main.main-container 
    = render 'mypages/right'
    = render 'mypages/left'
  = render 'layouts/footer'
