.default-container
  = render 'layouts/header'

  %nav.white-bar
    %ul
      %li
        %span メルカリ
      %li
        %span マイページ
        
  %main.main-container.clearfix
  
    = render 'mypages/right'

    = render 'mypages/left'

  = render 'mypages/banner'

  = render 'layouts/footer'