.users-wrapper
  = render 'devise/registrations/header'
  .users-wrapper__signup_contents
    .users-wrapper__signup_contents__account
      %p アカウントをお持ちでない方はこちら
      = link_to select_path do
        .users-wrapper__contents__sign__btn.signup
          新規会員登録
    .users-wrapper__signup_contents__sns
      = link_to user_facebook_omniauth_authorize_path, method: :post do
        .users-wrapper__contents__sign__btn.facebook
          %i.fa.fa-facebook-square
          %span Facebookでログイン
      = link_to user_google_oauth2_omniauth_authorize_path, method: :post do
        .users-wrapper__contents__sign__btn.google
          %i.fa.fa-google
          %span Googleでログイン
    .users-wrapper__contents__signin
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "textfield-default email"
        = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "textfield-default password"
        = f.submit "ログイン", class: "users-wrapper__contents__signin__login__btn"
  = render 'devise/registrations/footer'