-# 出品ページ
-# ①ヘッダー、②コンテンツ、③フッター、の大きく3要素でできている
.exhibit-wrapper

  -# ①ヘッダー
  .exhibit-wrapper__header
    .exhibit-wrapper__header__logo
      =link_to image_tag("#{asset_path('assets/saicoro_logo_red')}", size: "180x125", alt: "saicoro_logo_red"), root_path

  -# ②コンテンツ（formがメインになっている）
  .exhibit-wrapper__contents
    .exhibit-page-description
      商品の情報を入力
    -# ここからform
    = form_with(local: true) do |f|
      -# form 画像アップロード
      .exhibit-form
        .exhibit-form__group
          .exhibit-form__group__label
            %label{ class: "exhibit-form-label" } 出品画像
            %span{ class: "exhibit-form-require"} 必須
          .exhibit-form__group__label-small
            %label{ class: "exhibit-form-label-small" } 最大10枚までアップロードできます。
          .exhibit-form__group__image
            .exhibit-form__group__image__text
              %pre{ class: "exhibit-form-label-small" } 
                ドラッグアンドドロップ
                またはクリックしてファイルをアップロード
      -# form 商品名、商品説明
      .exhibit-form
        .exhibit-form__group
          .exhibit-form__group__label
            %label{ class: "exhibit-form-label" } 商品名
            %span{ class: "exhibit-form-require"} 必須
          .exhibit-form__group__input
            = f.text_field :name, placeholder: "商品名（必須 40文字まで）", class: "textfield-default"
        .exhibit-form__group--2
          .exhibit-form__group__label
            %label{ class: "exhibit-form-label" } 商品の説明
            %span{ class: "exhibit-form-require"} 必須
          .exhibit-form__group__input
            = f.text_area :description, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", class: "textarea-default"
      -# form 販売価格
      .exhibit-form
        .exhibit-form__group2
          .exhibit-form__group2__left
            %label{ class: "exhibit-form-label-gray" } 販売価格
            %label{ class: "exhibit-form-label-gray-small" } (300~9,999,999)
          .exhibit-form__group2__right
            .exhibit-form__group2__right__box
              .exhibit-form__group2__right__box__left
                .exhibit-form__group2__right__box__left__box
                  %label{ class: "exhibit-form-label" } 価格
                  %span{ class: "exhibit-form-require"} 必須
              .exhibit-form__group2__right__box__right
                %label{ class: "exhibit-form-label-small" } ¥
                = f.text_field :name, placeholder: "例）300", class: "textfield-small"
      -# form 出品ボタン
      .exhibit-form
        .exhibit-form__btn1
          = f.submit "出品する", class: "exhibit-form-send-btn"
        .exhibit-form__btn2
          %a{href: "javascript:history.back()", class: "exhibit-return-btn"} もどる

  -# ③フッター
  .exhibit-wrapper__footer
    .exhibit-wrapper__footer__box
      .exhibit-wrapper__footer__box__logo
        =link_to image_tag("#{asset_path('assets/logo_wjite_square')}", size: "80x80", alt: "saicoro_logo_red"), root_path
      .exhibit-wrapper__footer__box__name
        Saicoro, Inc