-# 商品詳細ページ
.wrapper
  -# ヘッダー
  = render 'layouts/header'
  -# コンテンツ
  .content_wrapper
    .details-wrapper
      .details-wrapper__contents
        .margin
        -# ◆商品情報開始◆
        .details-wrapper__contents__item-box
          = render 'items/show'
        -# ボタン
        .details-wrapper__contents__btn
          - if @item.for_sale?
            = link_to purchase_item_path, class: "btn-red" do
              購入画面に進む
          - else
            = link_to purchase_item_path, class: "btn-red" do
              売り切れだからTOPページに戻る

  -# フッター
  = render 'layouts/footer'